.main-table{
    width: 800px;
    border-collapse: collapse;
}

.page-link{
    cursor: pointer;
    text-decoration: underline;
}

.table-header{
	cursor: pointer;
}

.sort-order{
    width: 10px;
}

.hidden{
	visibility: hidden;
}

.rotate{
    transform: rotate(180deg);
}